<nav>
  <ul>
    <% @dates.each do |date|%>
      <li><a href="/gym_classes/by_date/<%= date %>"><%= date %></a></li>
    <% end %>
  </ul>
  </nav>

<div class="center">
  <% @gym_classes.each do |gym_class| %>
  <div class="main--link flex">
    <a href="/gym_classes/<%= gym_class.id %>">
      <% if @new_gym_class != nil && @new_gym_class.id() == gym_class.id() %>
        <p> NEW </p>
      <% end %>
      <p>Class Name:  <%= gym_class.class_name.capitalize() %></p>
      <p>Date and Time: <%= gym_class.class_date() %> <%= gym_class.class_time() %></p>
      <p>Spaces Remaining: <%= gym_class.spaces_remaining() %></p></a>
    </div>
    <% end %>
  </div>
